<h2>List Subjects</h2><br>
<div>
  <label >Trier par User :  </label>
  <select name="userSelectBox" (change)="selectedUser($event.target)">
    <option></option>
    <option *ngFor="let user of users"  [value]="user.id" >{{user.name}}</option>
  </select>
</div><br>
<table class='table table-striped' aria-labelledby="tableLabel"  *ngIf="subjectsByUserId">
  <thead>
  <tr>
    <th>Subject</th>
    <th>Results</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let subject of subjectsByUserId" >
    <td>{{ subject.subject }}</td>
    <div *ngFor="let res of subject.results">

      <td>{{res.num_Result}}</td>

    </div>
    <td>
      <button type="button" class="btn btn-warning" (click)="onDelete(subject.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
<table class='table table-striped' aria-labelledby="tableLabel"  *ngIf="!subjectsByUserId">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Results</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let subject of subjects" >
      <td>{{ subject.subject }}</td>
      <div *ngFor="let res of subject.results">
        <td>{{res.num_Result}}</td>
      </div>
      <td>
        <button type="button" class="btn btn-warning" (click)="onDelete(subject.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<app-subject-form></app-subject-form>
